* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main: white;
    --secondary: black;
}
body {
    background-color: var(--main);
    font-family: 'Comfortaa';
    color: var(--secondary);
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 5%;
}
header {
    font-family: 'Didact Gothic', sans-serif;
    border: 3px solid var(--secondary);
    padding: 0.5em;
}
h1 i {
    margin: 0 0.5vmax;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 0;
    font-weight: 600;
    position: sticky;
    top: 0px;
    background-color: var(--main);
    font-size: 1vmax;
}
.hero {
    background: white url("img/hero.jpg") no-repeat;
    background-size: cover;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
    background-position: center;
    max-width: 100%;
}
.about {
    width: 40%;
    margin: 10%;
}
h2 {
    font-family: "Didact Gothic";
    font-size: 2em;
    margin-top: 1%;
}
button {
    color: black;
    font-family: 'Didact Gothic';
    padding: 0.3em;
    border: none;
    background-color: var(--main);
    font-weight: 900;
    padding: 1em;
    border: 3px solid var(--secondary);
}
.about p {
    padding: 0.5em 0;
}
.us {
    display: flex;
    border-bottom: 3px solid var(--secondary);
}
.us .about {
    margin: 5%;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.us figure {
    width: 50%;
    margin: 5%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}
.gallery-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery section {
    margin: 5% 1.5%;
}
.gallery img {
    width: auto;
    max-width: 100%;
    height: 100%;
}
.gallery figure {
    height: 200px;
}
.hero button {
    border: none;
}
h3 {
    margin-top: 1%;
}
footer {
    border-top: 3px solid var(--secondary);
    margin-top: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
nav button {
    display: none;
}
.footer-item a {
    display: flex;
}
i {
    margin: 0 1vmax;
}

@media (max-width: 599px) {
    .us {
        flex-direction: column;
    }
    .us .about, .us figure {
        width: 100%;
        margin: 5% auto;
    }
    .gallery img {
        width: 100%;
    }
    .gallery figure {
        height: auto;
    }
    footer {
        font-size: 1vmax;
    }
    nav button {
        display: block;
        border: none;
        margin: 0;
        padding: 0;
    }
    nav a {
        display: none;
    }
}